In [8]:
import sqlite3

In [9]:
# Подключение к исходной базе данных Netflix
connection = sqlite3.connect('3_Sql_netflix.ipynb') 
cursor = connection.cursor()

In [10]:
# Создание новой базы данных 'task1.sqlite'
new_connection = sqlite3.connect('task1.sqlite')
new_cursor = new_connection.cursor()

In [13]:
# Создание таблиц для актеров, фильмов, таблицы актёр-фильм
new_cursor.execute('''CREATE TABLE actors (
                    actor_id INTEGER PRIMARY KEY,
                    f_name TEXT,
                    l_name TEXT
                    )''')

In [12]:
new_cursor.execute('''CREATE TABLE movies (
                    movie_id INTEGER PRIMARY KEY,
                    typr text,
                    title TEXT,
                    director text,
                    country text,
                    date_added TEXT,
                    release_year integer,
                    rating text,
                    duration text,
                    listened_id text,
                    description text
                    )''')

In [14]:
new_cursor.execute('''CREATE TABLE actor_movie (
                    actor_id INTEGER,
                    movie_id INTEGER,
                    FOREIGN KEY (actor_id) REFERENCES actors(id),
                    FOREIGN KEY (movie_id) REFERENCES movies(id))''')

In [18]:
# Получение данных из исходной базы и добавление их в новую базу
actors_data = cursor.execute('SELECT DISTINCT actor FROM netflix.netflix_titles').fetchall()
movies_data = cursor.execute('SELECT DISTINCT movie FROM netflix.netflix_titles').fetchall()

DatabaseError: file is not a database

In [ ]:
actor_movie_data = cursor.execute('SELECT actor, movie FROM netflix').fetchall()
actor_ids = {actor[0]: index+1 for index, actor in enumerate(actors_data)}
movie_ids = {movie[0]: index+1 for index, movie in enumerate(movies_data)}

for actor, movie in actor_movie_data:
    new_cursor.execute('INSERT INTO actor_movie (actor_id, movie_id) VALUES (?, ?)', (actor_ids[actor], movie_ids[movie]))

In [ ]:
new_connection.commit()
new_connection.close()
connection.close()

[(81145628,
  'Movie',
  'Norm of the North: King Sized Adventure',
  'Richard Finn, Tim Maltby',
  'Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson',
  'United States, India, South Korea, China',
  'September 9, 2019',
  2019,
  'TV-PG',
  '90 min',
  'Children & Family Movies, Comedies',
  'Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first.'),
 (80117401,
  'Movie',
  'Jandino: Whatever it Takes',
  '',
  'Jandino Asporaat',
  'United Kingdom',
  'September 9, 2016',
  2016,
  'TV-MA',
  '94 min',
  'Stand-Up Comedy',
  'Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of "Sex on Fire" in his comedy show.'),
 (70234439,
  'TV Show',
  'Transformers Prime',
  '',
  'Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle',
  'United States',
  'September 8, 2018',
  2013,
  'TV-Y7-FV',
  '1 Season',
  "Kids' TV",
  'With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron.')]

In [ ]:
# Запрос на нахождение наиболее часто работающей друг с другом пары актеров
connection = sqlite3.connect('task1.sqlite') 
cursor = connection.cursor()

result = cursor.execute('''
            SELECT a1.name, a2.name, COUNT(*) as count 
            FROM actors a1 
            JOIN actor_movie am1 ON a1.id = am1.actor_id 
            JOIN actor_movie am2 ON am1.movie_id = am2.movie_id
            JOIN actors a2 ON am2.actor_id = a2.id
            WHERE a1.id < a2.id
            GROUP BY a1.name, a2.name 
            ORDER BY count DESC 
            LIMIT 1
        ''').fetchone()

print(f"Наиболее часто работающая друг с другом пара актеров: {result[0]} и {result[1]} ({result[2]} фильмов вместе)")
connection.close()

(('show_id', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None),
 ('title', None, None, None, None, None, None),
 ('director', None, None, None, None, None, None),
 ('cast', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('date_added', None, None, None, None, None, None),
 ('release_year', None, None, None, None, None, None),
 ('rating', None, None, None, None, None, None),
 ('duration', None, None, None, None, None, None),
 ('listed_in', None, None, None, None, None, None),
 ('description', None, None, None, None, None, None))